ConsumingWCFServiceInWPFApp/Connected Services/DecryptService/Decrypt1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Middleware/Decrypt?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Middleware" />
  <xs:element name="DecryptFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Middleware" minOccurs="0" name="msg" type="q1:STC_MSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Middleware" minOccurs="0" name="DecryptFilesResult" type="q2:STC_MSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>